.page-error {
    margin: 3rem;
}

.error {
    color: #ff6060;
}


.error span {
    font-size: 288px;
}

.error h4 {
    font-size: 36px;
    margin: 30px 0;
}

.error p {
    padding-top: 50px;
}

.error a {
    color: #ff6060;
    font-size: 18px;
    text-decoration: underline;
}
.commun-error {
    display: block;
    width: 100%;
    text-align: center;
}


@media (min-width: 401px) and (max-width: 550px) {
    .error span { font-size: 180px; }
}

@media (max-width: 400px) {
    .error {      margin: auto 0; }
    .error span { font-size: 96px; }
    .error h4 {   font-size: 18px; }
    .error a {    font-size: 14px; }
}